In [1]:
%load_ext autoreload
%autoreload 2

In [21]:
import os
import yaml
import pandas as pd
from IPython.display import display
import src.util as ut
from src.util import esc_ac, esc_sc, esc_ec
import matplotlib.pyplot as plt
import shutil
import numpy as np
import csv
res_dir = 'res_agg/' # 'res/'

### Result Table (LPLM dataset)

In [3]:
res_dir = 'res_agg_bak3/' # 'res/'
# data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR', 'DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL', 'LPLM']
# models = ['CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
# workloads = ['CLIQUE', 'LPLM']
# workloads = ['LPLM', 'LPLM1']
workloads = ['LPLM']
measures = ['avg', 'q050', 'q090', 'q099', 'q100']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            #### Get only one stat ####
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            # # print(stat_path)
            # if os.path.exists(stat_path):
            #     stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
            #     stat_func = lambda x: stat_dict[x]
            # else:
            #     stat_func = lambda x: None

            #### Get average stat ####
            stat_dicts = []
            for trial in [0, 1, 2]:
                stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
                # print(stat_path)
                if os.path.exists(stat_path):
                    stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
                    stat_dicts.append(stat_dict)
            if len(stat_dicts) > 0:
                stat_func = lambda x: np.average([stat_dict[x] for stat_dict in stat_dicts])
            else:
                stat_func = lambda x: None

            #### make res_dict
            for measure in measures:
                if (data_name, measure) not in res_dict:
                    res_dict[(data_name, measure)] = []
                res_dict[(data_name, measure)].append(stat_func(measure))
    df = pd.DataFrame(res_dict, index=models)
    df = df.style.format(na_rep='', precision=2)
    # print(f"{workload =}")
    display(df)

### Result Table (LPLM dataset CLIQUE fixed)

In [5]:
db, train_data, valid_data, test_data = ut.load_training_files(
    "DBLP-AN", "LPLM")

d_type = train     training_path = 'data/DBLP-AN/training/LPLM/train.txt'
d_type = valid     training_path = 'data/DBLP-AN/training/LPLM/valid.txt'
d_type = test      training_path = 'data/DBLP-AN/training/LPLM/test.txt'

In [25]:
res_dir = 'res_agg_bak3_fixed/' # 'res/'
data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
models = ['CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
# data_name = "DBLP-AN"
# model = "CLIQUE"
for data_name in data_names:
    for model in models:
        ME = yaml.load(open(f"{res_dir}{data_name}/LPLM/model/CLIQUE/0/config.yml"), Loader=yaml.FullLoader)["max_entry_ratio"]
        N = yaml.load(open(f"{res_dir}{data_name}/LPLM/model/CLIQUE/0/config.yml"), Loader=yaml.FullLoader)["N"]
        print(ME, N)
        hashtable, PTs, _ = ut.getCachedPrunedExtendedNgramTableMaxEntry(data_name, N, ME)
        estimation_path = f"{res_dir}{data_name}/LPLM/estimation/{model}/0/estimation.csv"
        stat_path = f"{res_dir}{data_name}/LPLM/stat/{model}/0/stat.yml"
        print(f"{estimation_path = }")
        print(f"{stat_path = }")

        csv_r = csv.reader(open(estimation_path))
        new_lines = []
        header = next(csv_r)
        new_lines.append(header)
        q_errs=[]
        for line in csv_r:
            query, true_card, est_card, q_err = line
            true_card = int(true_card)
            est_card = float(est_card)
            q_err = float(q_err)
            test_query_norm = ut.flip_last_canonicalized_like_query(query)
            # print(line)
            ngram = test_query_norm.strip("%").replace("_", esc_ac)
            is_prefix_query = test_query_norm[0] != "%"
            is_suffix_query = test_query_norm[-1] != "%"
            if is_prefix_query:
                ngram = esc_sc + ngram
            if is_suffix_query:
                ngram = ngram + esc_ec
            if ngram in hashtable:
                est_card = hashtable[ngram]
                q_err = ut.mean_Q_error(true_card, est_card)
                assert int(q_err) == 1
                line = query, true_card, est_card, q_err
            new_lines.append(line)
            q_errs.append(q_err)
        # print(new_lines)
        ut.save_estimator_stat(stat_path, q_errs, 0,
                            0, model_size=0)

3.15 5
time_path = 'res/DBLP-AN/Ntable/count_N5_ME3.15.yml'
estimation_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/estimation/CLIQUE/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE/0/stat.yml'
out_stat_dict['avg'] = 2.265742226731955, out_stat_dict['q100'] = 239.5
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE/0/stat.yml'
3.15 5
time_path = 'res/DBLP-AN/Ntable/count_N5_ME3.15.yml'
estimation_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/estimation/CLIQUE-PACK/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
out_stat_dict['avg'] = 3.0605296471916947, out_stat_dict['q100'] = 954.255126953125
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
3.15 5
time_path = 'res/DBLP-AN/Ntable/count_N5_ME3.15.yml'
estimation_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/estimation/CLIQUE-PACK-ALL/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
out_stat_dict['avg'] = 3.0213950620019605, out_stat_dict['q100'] = 320.9759521484375
stat_path = 'res_agg_bak3_fixed/DBLP-AN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
2.6 5
time_path = 'res/IMDb-AN/Ntable/count_N5_PT1.yml'
time_path = 'res/IMDb-AN/Ntable/count_N5_ME2.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/estimation/CLIQUE/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE/0/stat.yml'
out_stat_dict['avg'] = 1.389033299064131, out_stat_dict['q100'] = 277.5722351074219
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE/0/stat.yml'
2.6 5
time_path = 'res/IMDb-AN/Ntable/count_N5_ME2.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/estimation/CLIQUE-PACK/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
out_stat_dict['avg'] = 1.374547195118144, out_stat_dict['q100'] = 295.0
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
2.6 5
time_path = 'res/IMDb-AN/Ntable/count_N5_ME2.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/estimation/CLIQUE-PACK-ALL/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
out_stat_dict['avg'] = 1.358086351298608, out_stat_dict['q100'] = 216.0
stat_path = 'res_agg_bak3_fixed/IMDb-AN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
1.6 5
time_path = 'res/IMDb-MT/Ntable/count_N5_PT1.yml'
time_path = 'res/IMDb-MT/Ntable/count_N5_ME1.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/estimation/CLIQUE/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE/0/stat.yml'
out_stat_dict['avg'] = 1.424512223685452, out_stat_dict['q100'] = 118.24235534667969
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE/0/stat.yml'
1.6 5
time_path = 'res/IMDb-MT/Ntable/count_N5_ME1.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/estimation/CLIQUE-PACK/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE-PACK/0/stat.yml'
out_stat_dict['avg'] = 1.451389781595409, out_stat_dict['q100'] = 118.0
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE-PACK/0/stat.yml'
1.6 5
time_path = 'res/IMDb-MT/Ntable/count_N5_ME1.6.yml'
estimation_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/estimation/CLIQUE-PACK-ALL/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
out_stat_dict['avg'] = 1.4538339263365117, out_stat_dict['q100'] = 118.0
stat_path = 'res_agg_bak3_fixed/IMDb-MT/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
15.0 5
time_path = 'res/TPCH-PN/Ntable/count_N5_PT1.yml'
time_path = 'res/TPCH-PN/Ntable/count_N5_ME15.0.yml'
estimation_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/estimation/CLIQUE/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE/0/stat.yml'
out_stat_dict['avg'] = 1.0919847537427112, out_stat_dict['q100'] = 40.734923634837976
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE/0/stat.yml'
15.0 5
time_path = 'res/TPCH-PN/Ntable/count_N5_ME15.0.yml'
estimation_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/estimation/CLIQUE-PACK/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
out_stat_dict['avg'] = 1.0915457414934633, out_stat_dict['q100'] = 22.021065143623737
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE-PACK/0/stat.yml'
15.0 5
time_path = 'res/TPCH-PN/Ntable/count_N5_ME15.0.yml'
estimation_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/estimation/CLIQUE-PACK-ALL/0/estimation.csv'
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'
out_stat_dict['avg'] = 1.0898985897044433, out_stat_dict['q100'] = 41.77635192871094
stat_path = 'res_agg_bak3_fixed/TPCH-PN/LPLM/stat/CLIQUE-PACK-ALL/0/stat.yml'

In [27]:
res_dir = 'res_agg_bak3_fixed/' # 'res/'
# data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR', 'DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL', 'LPLM']
models = ['DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL', 'LPLM']
# models = ['CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
# workloads = ['CLIQUE', 'LPLM']
# workloads = ['LPLM', 'LPLM1']
workloads = ['LPLM']
measures = ['avg', 'q050', 'q090', 'q099', 'q100']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            #### Get only one stat ####
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            # # print(stat_path)
            # if os.path.exists(stat_path):
            #     stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
            #     stat_func = lambda x: stat_dict[x]
            # else:
            #     stat_func = lambda x: None

            #### Get average stat ####
            stat_dicts = []
            for trial in [0, 1, 2]:
                stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
                # print(stat_path)
                if os.path.exists(stat_path):
                    stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
                    stat_dicts.append(stat_dict)
            if len(stat_dicts) > 0:
                stat_func = lambda x: np.average([stat_dict[x] for stat_dict in stat_dicts])
            else:
                stat_func = lambda x: None

            #### make res_dict
            for measure in measures:
                if (data_name, measure) not in res_dict:
                    res_dict[(data_name, measure)] = []
                res_dict[(data_name, measure)].append(stat_func(measure))
    df = pd.DataFrame(res_dict, index=models)
    df = df.style.format(na_rep='', precision=2)
    # print(f"{workload =}")
    display(df)

### Result Table (CLIQUE dataset)

In [23]:
data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR']
# data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL', 'LPLM']
# models = ['CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
# workloads = ['CLIQUE', 'LPLM']
# workloads = ['LPLM', 'LPLM1']
workloads = ['CLIQUE']
measures = ['avg', 'q050', 'q090', 'q099', 'q100']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            #### Get only one stat ####
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            # # print(stat_path)
            # if os.path.exists(stat_path):
            #     stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
            #     stat_func = lambda x: stat_dict[x]
            # else:
            #     stat_func = lambda x: None

            #### Get average stat ####
            stat_dicts = []
            for trial in [0, 1, 2]:
                stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
                # print(stat_path)
                if os.path.exists(stat_path):
                    stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
                    stat_dicts.append(stat_dict)
            if len(stat_dicts) > 0:
                stat_func = lambda x: np.average([stat_dict[x] for stat_dict in stat_dicts])
            else:
                stat_func = lambda x: None
            
            #### make res_dict
            for measure in measures:
                if (data_name, measure) not in res_dict:
                    res_dict[(data_name, measure)] = []
                res_dict[(data_name, measure)].append(stat_func(measure))
    df = pd.DataFrame(res_dict, index=models)
    df = df.style.format(na_rep='', precision=2)
    # print(f"{workload =}")
    display(df)

### Result Table (Astrid)

In [39]:
res_dir = "res_agg/"
data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK-ALL', 'LPLM', 'AstridEach']
# models = ['CLIQUE', 'CLIQUE-PACK-ALL', 'LPLM', 'AstridEach']
# models = ['AstridEach']
workloads = ['Astrid']
measures = ['avg', 'q050', 'q090', 'q099', 'q100']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            #### Get only one stat ####
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            # # print(stat_path)
            # if os.path.exists(stat_path):
            #     stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
            #     stat_func = lambda x: stat_dict[x]
            # else:
            #     stat_func = lambda x: None

            #### Get average stat ####
            stat_dicts = []
            for trial in [0, 1, 2]:
                stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
                # print(stat_path)
                if os.path.exists(stat_path):
                    stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
                    stat_dicts.append(stat_dict)
            if len(stat_dicts) > 0:
                stat_func = lambda x: np.average([stat_dict[x] for stat_dict in stat_dicts])
            else:
                stat_func = lambda x: None

            #### make res_dict
            for measure in measures:
                if (data_name, measure) not in res_dict:
                    res_dict[(data_name, measure)] = []
                res_dict[(data_name, measure)].append(stat_func(measure))
    df = pd.DataFrame(res_dict, index=models)
    df = df.style.format(na_rep='', precision=2)
    # print(f"{workload =}")
    display(df)

### Result Table (LPLM20)

In [38]:
res_dir = "res_agg/"
data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK-ALL', 'LPLM', 'AstridEach']
# models = ['CLIQUE', 'CLIQUE-PACK-ALL', 'LPLM', 'AstridEach']
# models = ['AstridEach']
workloads = ['LPLM20']
measures = ['avg', 'q050', 'q090', 'q099', 'q100']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            #### Get only one stat ####
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            # # print(stat_path)
            # if os.path.exists(stat_path):
            #     stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
            #     stat_func = lambda x: stat_dict[x]
            # else:
            #     stat_func = lambda x: None

            #### Get average stat ####
            stat_dicts = []
            for trial in [0, 1, 2]:
                stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
                # print(stat_path)
                if os.path.exists(stat_path):
                    stat_dict = yaml.load(open(stat_path), Loader=yaml.FullLoader)
                    stat_dicts.append(stat_dict)
            if len(stat_dicts) > 0:
                stat_func = lambda x: np.average([stat_dict[x] for stat_dict in stat_dicts])
            else:
                stat_func = lambda x: None

            #### make res_dict
            for measure in measures:
                if (data_name, measure) not in res_dict:
                    res_dict[(data_name, measure)] = []
                res_dict[(data_name, measure)].append(stat_func(measure))
    df = pd.DataFrame(res_dict, index=models)
    df = df.style.format(na_rep='', precision=2)
    # print(f"{workload =}")
    display(df)

### Move the submit result to the revision result

#### Get info

In [18]:
infos = [  # model, query_key, ename
    ("PSQL", "ru100/2_2", "PostgreSQL"),
    ("LBS/L10", "ru100/2_2", "LBS"),
    ("Fixed/1000/", "ru100/2_2", "EST_S"),
    ("GreekFixed/1000/", "ru100/2_2", "EST_M"),
    (
        {
            "WIKI": "GreekAdapt/100.0/",
            "IMDB": "GreekAdapt/100.0/",
            "DBLP": "GreekAdapt/20.0/",
            "GENE": "GreekAdapt/10.0/",
            "AUTHOR": "GreekAdapt/50.0/",
        },
        "ru100/2_2",
        "EST_B",
    ),
    ("Astrid/lr0.001/bs128/ep256/pool/ms5/ed1024/es8/pt1.0/pat20", "ru100/2_2", "Astrid"),
    ("E2E", "ru100/2_2", "E2E"),
    ("LSTM/bs64/p20/pt1.0/bs64/pt1.0/phs256/rhs128/ces500/npl5", "ru100/2_2", "DREAM"),
    (
        {
            "WIKI": "hybrid_logbound_bn/N5/ME4.35/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "IMDB": "hybrid_logbound_bn/N5/ME1.675/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "DBLP": "hybrid_logbound_bn/N5/ME3.12/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "GENE": "hybrid_logbound_bn/N5/ME204.8/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "AUTHOR": "hybrid_logbound_bn/N5/ME4.8/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
        },
        "ru100/2_2",
        "CLIQUE",
    ),
    ("Astrid_packed/lr0.001/bs128/ep256/pool/ms5/ed1024/es8/pt1.0/pat20", "ru100/2_2", "Astrid-AUG"),
    ("E2E_packed/pt1.0", "ru100/2_2", "E2E-AUG"),
    ("simple/LSTM/bs64/p20/pt1.0/bs64/pt1.0/phs256/rhs128/ces500/npl5", "ru100/2_2", "DREAM-PACK"),
    # ("LPLM_packed/pt1.0", "ru100/2_2", "LPLM-PACK"),
    (
        {
            "WIKI": "LPLM_packed/pt1.0/h780",
            "IMDB": "LPLM_packed/pt1.0/h390",
            "DBLP": "LPLM_packed/pt1.0/h392",
            "GENE": "LPLM_packed/pt1.0/h410",
            "AUTHOR": "LPLM_packed/pt1.0/h396",
        }, 
        "ru100/2_2",
        "LPLM"
    ),
    (
        {
            "WIKI": "v1/hybrid_packed_logbound_bn/N5/ME4.35/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "IMDB": "v1/hybrid_packed_logbound_bn/N5/ME1.675/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "DBLP": "v1/hybrid_packed_logbound_bn/N5/ME3.12/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "GENE": "v1/hybrid_packed_logbound_bn/N5/ME204.8/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
            "AUTHOR": "v1/hybrid_packed_logbound_bn/N5/ME4.8/ns0/bs64/pt1.0/phs128/rhs256/ces100/npl3",
        },
        "ru100/2_2",
        "CLIQUE-PACK",
    ),
]
info_dict = {
    z: (x, y) for x, y, z in infos
}

#### move file (stat only)

In [20]:
submit_dir = 'res_submit/res/'

data_names = ['WIKI', 'IMDB', 'DBLP', 'GENE', 'AUTHOR']
# data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'LPLM']
model_dict = {
    'CLIQUE-PACK': "",
}
# models = ['CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
workload = 'CLIQUE'
# measures = ['avg', 'q050', 'q090', 'q099', 'q100']

for data_name in data_names:
    for model in models:
        exp_info_or_exp_info_dict, q_type = info_dict[model] # ru/100
        if isinstance(exp_info_or_exp_info_dict, dict):
            exp_info = exp_info_or_exp_info_dict[data_name]
        else:
            exp_info = exp_info_or_exp_info_dict

        # stat path 
        for trial in [0, 1, 2]:
            src_path = os.path.join(submit_dir, data_name, str(trial+1), 'stat', exp_info, q_type + '.yml')
            dest_path = os.path.join(res_dir, data_name, workload, 'stat', model, str(trial), 'stat.yml')
            # if os.path.exists(dest_path):
            #     print(f"{dest_path = }")
            
            if not os.path.exists(src_path):
                print(f"Not exists {src_path= }")
                continue
            if not os.path.exists(dest_path):
                print(f"Copy from {src_path = } to {dest_path = }")
                os.makedirs(os.path.dirname(dest_path), exist_ok=True)
                shutil.copy(src_path, dest_path)

        # if not os.path.exists(src_path):
        #     print(f"{src_path = }")

Not exists src_path= 'res_submit/res/WIKI/2/stat/Astrid_packed/lr0.001/bs128/ep256/pool/ms5/ed1024/es8/pt1.0/pat20/ru100/2_2.yml'
Not exists src_path= 'res_submit/res/IMDB/2/stat/Astrid_packed/lr0.001/bs128/ep256/pool/ms5/ed1024/es8/pt1.0/pat20/ru100/2_2.yml'

In [19]:
df = pd.read_csv("res_agg/TPCH-PN/LPLM1/estimation/CLIQUE-PACK/0/estimation.csv")

In [20]:
df

                                query    true            est   q-error
0                             % % % %  200000  186417.420000  1.072861
1                         % % % % %O%   78563   59881.445000  1.311976
2                 % % % %A%E%E_ANTIQ%      23      30.610909  1.330909
3                           % % % %C%   64117   54845.940000  1.169038
4                     % % % %CH%D_D%R     148     117.295080  1.261775
...                               ...     ...            ...       ...
499995                  _Z_R_ _I%E%D_       5       2.431440  2.056394
499996           _Z_R_ _I_T%SN_W%ID%L       1       0.008862  1.000000
499997  _Z_R_ _I_TY%L_ON%D_E_ C%L_WE_       1       0.968121  1.000000
499998      _Z_R_ _OWDER%S%RQ%I% SM%E       1       0.889470  1.000000
499999                  _Z_R_ _U%S%P%      22      24.437670  1.110803

[500000 rows x 4 columns]

### Analysis Result

In [18]:
def count_wild(query):
    n_under = query.count('_')
    n_pcnt = query.count('%')
    return n_under + n_pcnt


# data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
# data_names = ['IMDb-MT']
data_names = ['DBLP-AN']
# data_names = ['IMDb-MT']
# models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'LPLM']
# models = ['DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK']
# models = ['LPLM','CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
# models = ['LPLM','CLIQUE', 'CLIQUE-PACK']
models = ['CLIQUE', 'CLIQUE-PACK']
# workloads = ['CLIQUE', 'LPLM']
workloads = ['LPLM', 'LPLM1']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            stat_path = os.path.join(res_dir, data_name, workload, 'estimation', model, '0', 'estimation.csv')
            if not os.path.exists(stat_path):
                continue
            print(f"{workload = } {data_name = } {model = } {stat_path = }")
            df = pd.read_csv(stat_path)
            df['n_wild'] = df['query'].apply(count_wild)
            print(model)
            print(f"{df['n_wild'].mean() = }")
            df['len'] = df['query'].apply(len)
            # df['p'] = df['query'].apply(lambda x: 1)
            # df = df.groupby('n_wild').mean('q-error').transpose()
            df = df.groupby('len').mean('q-error').transpose()
            df = df.style.format(na_rep='', precision=2)
            display(df)
            # display(df)

workload = 'LPLM' data_name = 'DBLP-AN' model = 'CLIQUE' stat_path = 'res_agg/DBLP-AN/LPLM/estimation/CLIQUE/0/estimation.csv'
CLIQUE
df['n_wild'].mean() = 3.256418

workload = 'LPLM' data_name = 'DBLP-AN' model = 'CLIQUE-PACK' stat_path = 'res_agg/DBLP-AN/LPLM/estimation/CLIQUE-PACK/0/estimation.csv'
CLIQUE-PACK
df['n_wild'].mean() = 3.256418

workload = 'LPLM1' data_name = 'DBLP-AN' model = 'CLIQUE' stat_path = 'res_agg/DBLP-AN/LPLM1/estimation/CLIQUE/0/estimation.csv'
CLIQUE
df['n_wild'].mean() = 3.256418

workload = 'LPLM1' data_name = 'DBLP-AN' model = 'CLIQUE-PACK' stat_path = 'res_agg/DBLP-AN/LPLM1/estimation/CLIQUE-PACK/0/estimation.csv'
CLIQUE-PACK
df['n_wild'].mean() = 3.256418

In [27]:
def count_wild(query):
    n_under = query.count('_')
    n_pcnt = query.count('%')
    return n_under + n_pcnt

df['n_wild'] = df['query'].apply(count_wild)

In [38]:
df.groupby('n_wild').mean('q-error')

              true         est   q-error
n_wild
0         1.675374    1.562978  1.186668
1         9.856057    9.183350  1.440785
2        78.201509   81.339569  1.500338
3       253.574261  260.642012  1.535603
4       508.126504  537.736610  1.509873
5       454.968743  511.864816  1.460435
6       114.916975  130.276895  1.381826
7        27.228493   31.723621  1.290050
8         5.415208    5.969275  1.202779
9         2.017253    1.989245  1.148192
10        1.522885    1.554517  1.105416
11        1.111417    1.054596  1.066233
12        1.055315    0.995949  1.049538
13        1.028141    0.963330  1.039546
14        1.023409    0.950653  1.032108
15        1.004561    0.951835  1.015816
16        1.006504    0.944284  1.017078
17        1.019465    0.950736  1.028847
18        1.014760    0.939978  1.018945
19        1.006061    0.945494  1.016271
20        1.012658    0.938046  1.010222
21        1.000000    0.947090  1.008782
22        1.040000    0.922961  1.042841
23        1.000000    0.923193  1.002313
24        1.000000    0.931873  1.010249

In [65]:
import pickle
with open("res/IMDb-MT/Ntable/count_N5_ME1.6.pkl", 'rb') as f:
    table = pickle.load(f)

In [66]:
type(table)
table[1]

[2, 2, 2, 562, 2246, 4004]

In [69]:
df = pd.read_csv("data/DBLP/training/Astrid/train.txt")

In [72]:
df.values[0][0] == df.values[1][0]

True

In [67]:
query = '_6'
ut.esc_sc # start
ut.esc_ac # any
ut.esc_ec # end
n_gram = ut.esc_sc + query.replace('_', ut.esc_ac) + ut.esc_ec
print(f"{n_gram = }")
print(f"{table[0][n_gram] = }")

n_gram = '6'
table[0][n_gram] = 2481

In [ ]:
table['']

In [56]:
list(table)[:10]

[{'': 500000,
  'I': 10527,
  '': 500000,
  'S': 51395,
  '': 500000,
  ' ': 308347,
  'W': 61424,
  'S': 218525,
  '': 500000,
  'A': 267677,
  'F': 84093,
  'I': 238810,
  'O': 228737,
  'B': 85524,
  'N': 232242,
  'R': 234970,
  'T': 233542,
  'H': 165030,
  'V': 60451,
  'E': 290809,
  'P': 16103,
  'E': 54200,
  'P': 94677,
  'C': 129639,
  'S': 29163,
  'M': 132333,
  'K': 74027,
  'N': 33329,
  'U': 135510,
  'T': 54900,
  'W': 3255,
  'L': 180701,
  'A': 25178,
  'P': 3861,
  'Z': 20799,
  'R': 24316,
  'R': 11320,
  'D': 157788,
  'H': 13651,
  'L': 21364,
  'G': 110441,
  'Y': 80187,
  'M': 20030,
  '7': 1479,
  '0': 13483,
  '7': 33021,
  '1': 125585,
  '0': 78761,
  'A': 24884,
  '1': 72031,
  '9': 13471,
  '9': 43911,
  'H': 6737,
  'B': 18783,
  'T': 24487,
  '2': 20665,
  '2': 92980,
  '3': 5522,
  '3': 44779,
  '3': 16970,
  'K': 7186,
  'O': 8179,
  'Y': 19065,
  'V': 5222,
  'I': 11285,
  '8': 14023,
  '8': 32062,
  '2': 55589,
  'F': 1966,
  'D': 21651,
  'F': 12149,
  'U': 5400,
  '5': 15451,
  '5': 36482,
  'U': 4959,
  'O': 14909,
  'G': 9520,
  'X': 11752,
  '6': 14896,
  '4': 37578,
  '6': 33923,
  'L': 12690,
  'C': 18476,
  '1': 21050,
  'D': 16820,
  '4': 16016,
  'Q': 7576,
  'W': 10225,
  '4': 3722,
  'Y': 2633,
  'N': 9237,
  'G': 10240,
  'E': 11748,
  'J': 6791,
  'J': 26209,
  '7': 14201,
  '6': 1940,
  'Z': 1440,
  'X': 1754,
  'K': 8639,
  'M': 6516,
  '5': 2680,
  'V': 838,
  'J': 354,
  'Q': 1135,
  'C': 1887,
  '9': 1086,
  'Z': 1937,
  'B': 1585,
  '8': 1214,
  'W': 2,
  '0': 81,
  'X': 412,
  '8': 5,
  'Q': 91,
  'Z': 3,
  'U': 15,
  'I': 5,
  '3': 4,
  '2': 3,
  'E': 2,
  'Q': 2,
  '4': 6,
  'O': 3,
  'X': 5,
  'B': 2,
  'F': 2,
  'A': 6,
  'G': 3,
  'K': 5,
  'D': 3,
  'L': 3,
  '6': 4,
  'N': 3,
  'S': 2,
  '"': 4,
  '"': 4,
  '"': 4,
  '5': 2,
  'H': 2,
  'IN': 3700,
  'I': 10522,
  'N': 14828,
  '': 499899,
  'ES': 12668,
  'E': 53088,
  'S': 51393,
  '': 499899,
  'ON': 53999,
  'R': 229950,
  'BE': 19242,
  'NV': 1607,
  'O': 223847,
  'IA': 16736,
  'RB': 2409,
  'NT': 30144,
  'T': 224397,
  'B': 84398,
  'F': 75029,
  'VE': 27583,
  ' B': 37949,
  'I': 235529,
  'FO': 11829,
  'TI': 31740,
  'N ': 62622,
  'A': 260749,
  'RI': 39936,
  'R': 224749,
  'AN': 74105,
  ' F': 32233,
  '': 499899,
  'V': 59799,
  'ES': 51944,
  ' ': 308347,
  'V': 56376,
  'E': 288523,
  'H': 161666,
  'E': 278092,
  'N': 218997,
  'I': 235466,
  'H ': 14898,
  'N': 228484,
  'S': 205252,
  'W': 58955,
  'IN': 77684,
  'IO': 19378,
  ' W': 25550,
  'IT': 30475,
  'WI': 12317,
  'H': 156857,
  'W': 53923,
  'T': 213210,
  'BR': 10279,
  'F': 83040,
  'EN': 57115,
  'TH': 81163,
  'O': 225707,
  'OR': 43605,
  ' ': 308347,
  'B': 72383,
  'A': 263093,
  'PR': 3036,
  'P': 16102,
  'R': 20181,
  'HE': 752,
  'H': 6237,
  'E': 54198,
  'CH': 34445,
  'HE': 85280,
  ' R': 23522,
  'RA': 40135,
  'PP': 4542,
  'C': 128526,
  'C': 118213,
  'EC': 12390,
  'RO': 34199,
  'P': 83291,
  'AP': 9603,
  'PR': 12276,
  'OC': 8132,
  'TE': 45026,
  'OT': 15464,
  'CT': 7996,
  'P': 91708,
  'SM': 483,
  'S': 29161,
  'M': 4120,
  'KE': 1263,
  'K': 5995,
  'M': 128109,
  'SM': 3108,
  'S': 198245,
  'KE': 15723,
  'MO': 19481,
  'OK': 6468,
  'M': 119717,
  'K': 68811,
  'K': 68511,
  'SH': 3319,
  'H': 52877,
  'AN': 5893,
  'A': 29780,
  'N': 33326,
  'U': 133039,
  'U': 132559,
  'SH': 19393,
  'UA': 4412,
  'HU': 6160,
  ' H': 26457,
  'TU': 711,
  'T': 54899,
  'U': 20129,
  'OW': 2280,
  'O': 29233,
  'W': 3253,
  'UL': 9452,
  'BU': 8166,
  'OW': 12806,
  'LO': 24971,
  'LE': 45791,
  'L': 174657,
  'L': 169535,
  'T ': 49412,
  'FL': 4982,
  'UR': 23827,
  'TU': 9896,
  'AN': 3482,
  'A': 25172,
  'RP': 63,
  'R': 29181,
  'P': 3860,
  'ER': 81088,
  'RP': 1864,
  'WE': 10046,
  'TW': 2621,
  'TH': 40487,
  'ZE': 442,
  'Z': 1771,
  'PO': 12357,
  'Z': 19205,
  'CR': 8324,
  'ZE': 4110,
  'RT': 21344,
  ' N': 22995,
  'E ': 133232,
  ' P': 37298,
  'Z': 19585,
  'AZ': 3483,
  ' C': 39723,
  'OL': 20266,
  'NO': 19834,
  'ER': 15053,
  'R': 24315,
  'CO': 23365,
  'RN': 8811,
  'UE': 10521,
  'BL': 10494,
  'NF': 2357,
  'LU': 8689,
  'RE': 3679,
  'R': 11319,
  'E': 44710,
  'CE': 5273,
  'C': 14446,
  'ED': 19135,
  'CE': 18287,
  'D': 147717,
  'KC': 126,
  'D': 145560,
  'RE': 53681,
  'DA': 23685,
  'AK': 11525,
  'HO': 3859,
  'H': 13649,
  'O': 45239,
  'UP': 1098,
  'U': 11946,
  'LD': 9299,
  'W ': 6850,
  'TO': 32968,
  'HO': 24924,
  'RL': 8059,
  'CU': 5521,
  'WO': 8657,
  'UP': 5671,
  ' T': 62591,
  'O ': 35143,
  'D ': 37855,
  'LI': 3051,
  'L': 21361,
  'I': 35157,
  ' A': 50681,
  'LY': 7785,
  'LI': 32084,
  'OB': 5577,
  'Y ': 34130,
  'Y': 65476,
  'IL': 25172,
  '  ': 9736,
  'SP': 9415,
  'G': 103869,
  'SK': 4230,
  'Y': 78300,
  'KU': 5215,
  'RG': 4899,
  'PI': 11487,
  'G': 104022,
  'LL': 27461,
  'AF': 4771,
  ' E': 20345,
  'TR': 21404,
  ' S': 55494,
  'F ': 25067,
  'G ': 25309,
  'RE': 5532,
  ' O': 38741,
  'EA': 26342,
  'TA': 29298,
  'OF': 24721,
  ' G': 24607,
  'GR': 9128,
  'AT': 38733,
  'MA': 37872,
  'ST': 47609,
  ' M': 42692,
  'MA': 6604,
  'M': 20029,
  'A': 55909,
  'AS': 3187,
  'IC': 23796,
  'AS': 31185,
  'OI': 5353,
  'AD': 19794,
  'DR': 7549,
  'S ': 70831,
  'CA': 22704,
  'WE': 63,
  'W': 2861,
  'ND': 38856,
  'K ': 11480,
  'CK': 14176,
  'AW': 4266,
  '71': 495,
  '7': 1479,
  '1': 24006,
  '10': 4444,
  '1': 50859,
  '0': 13483,
  '7': 20746,
  '0': 78715,
  '1': 87263,
  '71': 4603,
  '1': 118702,
  '10': 24677,
  'TA': 2341,
  'T': 19307,
  'A': 24878,
  ' K': 15170,
  'R ': 42099,
  'U ': 10620,
  'GO': 11456,
  'AI': 17720,
  'VS': 1915,
  'GE': 22716,
  'KA': 11687,
  ' V': 15145,
  'NG': 40540,
  'EG': 6515,
  'ET': 24015,
  '19': 878,
  '19': 22245,
  '19': 4125,
  '1': 72030,
  '9': 23572,
  '9': 13470,
  '19': 26611,
  '9': 42983,
  'TH': 2149,
  'H': 6735,
  'DE': 48044,
  'WH': 5949,
  'SN': 2026,
  ' D': 48265,
  'HI': 23103,
  'UC': 5630,
  'BI': 2114,
  'B': 18781,
  'OT': 1729,
  'T': 24486,
  'GF': 217,
  'OO': 15716,
  'BI': 10425,
  'IG': 15621,
  '12': 2062,
  '12': 7788,
  '12': 6208,
  '2': 12243,
  '2': 20662,
  '12': 27237,
  '2': 66127,
  '33': 573,
  '3': 5518,
  '3': 8981,
  '30': 2511,
  '3': 11504,
  '3': 30543,
  '33': 2016,
  '3': 40269,
  '30': 9408,
  '13': 5637,
  '3': 16966,
  '97': 4938,
  '70': 6671,
  '9': 33591,
  '01': 26656,
  '0': 71968,
  '11': 31304,
  '99': 11622,
  '7': 31722,
  '13': 14147,
  'SI': 2121,
  'EK': 568,
  'K': 7181,
  'BO': 13351,
  'EH': 2505,
  'EK': 4357,
  'RK': 5374,
  'KL': 2022,
  'VA': 9516,
  'OE': 3594,
  'SI': 20373,
  'EI': 12035,
  'IM': 13440,
  'AA': 3245,
  'LA': 37819,
  'M ': 11857,
  'HA': 3255,
  'FT': 544,
  'F': 3142,
  'GL': 4015,
  'HW': 844,
  'HA': 27426,
  'PF': 437,
  'FE': 10658,
  'SC': 11171,
  ' I': 27037,
  'IF': 6077,
  'FT': 2733,
  'ME': 32594,
  'US': 18647,
  'IE': 27537,
  'B ': 1809,
  'AU': 10889,
  'UB': 4494,
  'SU': 2519,
  'ON': 9885,
  'VI': 15032,
  'A ': 50835,
  'NI': 21885,
  'UN': 24916,
  'NA': 24442,
  'VO': 5821,
  'SU': 12086,
  'IV': 9954,
  'RV': 2453,
  'EU': 5401,
  'ON': 1790,
  'O': 8176,
  'AY': 3143,
  'Y': 19065,
  'NE': 34226,
  'AY': 12414,
  'MM': 4957,
  'RS': 20050,
  'UM': 8197,
  'LE': 5576,
  'L': 19404,
  'RU': 10189,
  '0 ': 1571,
  '20': 51612,
  '2': 80500,
  'SE': 30900,
  ' 2': 7491,
  'TE': 2220,
  'EE': 992,
  'EE': 15350,
  'FF': 4140,
  'VE': 1167,
  'V': 5221,
  'TE': 4319,
  'EB': 4663,
  ' L': 30929,
  'BT': 463,
  'UT': 14020,
  'LE': 5257,
  'LT': 498,
  'NS': 18346,
  'LT': 5085,
  'KI': 770,
  'I': 11280,
  'KO': 6474,
  'I ': 19501,
  'KI': 13437,
  'KK': 1434,
  'IK': 6352,
  '11': 15462,
  '18': 4395,
  '8': 14018,
  '8': 30995,
  '17': 7455,
  '18': 7308,
  '20': 45832,
  '2': 55586,
  '0': 47341,
  '22': 3628,
  '2': 33362,
  '90': 6769,
  '09': 10055,
  '22': 8296,
  '00': 36784,
  'FF': 633,
  'F': 1964,
  'DE': 7171,
  'D': 21648,
  'TY': 2548,
  'IB': 3423,
  'TY': 7534,
  'FE': 1034,
  'F': 12147,
  'HU': 160,
  'U': 5385,
  'UI': 5781,
  '31': 1581,
  '55': 574,
  '5': 5515,
  '5': 15449,
  '55': 1012,
  '31': 7333,
  '15': 9345,
  '5': 34231,
  '5': 23250,
  '23': 3445,
  '23': 4916,
  '02': 12491,
  'HR': 5296,
  'OA': 3742,
  ' 1': 6946,
  'UN': 3117,
  'U': 4944,
  'IS': 31944,
  'SO': 14710,
  'DO': 3038,
  'HO': 390,
  'O': 14906,
  'DO': 17693,
  '03': 11420,
  'NG': 7414,
  'N': 30891,
  'G': 9517,
  'OM': 21184,
  'DL': 2160,
  'X': 10147,
  'XI': 1796,
  'X': 11437,
  'OX': 1057,
  'BL': 2239,
  'L': 15130,
  ' 8': 282,
  ' ': 12399,
  'DW': 683,
  ' 8': 656,
  'SA': 17792,
  'TA': 2351,
  'KA': 1104,
  'TV': 1056,
  'NN': 9813,
  'AH': 3437,
  'YA': 5140,
  'OD': 11502,
  'DK': 205,
  '18': 2867,
  '8': 4388,
  '76': 475,
  '7': 4553,
  '6': 14892,
  '4': 34448,
  '4': 23840,
  '8': 19960,
  '76': 935,
  '47': 1086,
  '84': 962,
  '6': 32233,
  'HE': 3090,
  'EL': 2232,
  'L': 12687,
  'PA': 22583,
  'EL': 30904,
  'EM': 11674,
  'ZI': 2488,
  'EZ': 2019,
  'AE': 1689,
  'CU': 868,
  'C': 18475,
  'LL': 2818,
  'AL': 40282,
  '11': 6573,
  '1': 21049,
  'ED': 4162,
  'D': 16817,
  'NK': 5121,
  'PH': 401,
  ' 4': 905,
  '4': 16010,
  ' 4': 1916,
  '3 ': 925,
  ' 3': 2807,
  'PH': 3259,
  'OS': 2549,
  'OS': 17922,
  'EN': 8427,
  'EW': 5512,
  'LC': 1335,
  'HL': 1683,
  'UK': 2555,
  'GT': 869,
  'RT': 1967,
  '22': 483,
  '22': 1563,
  'LT': 63,
  'T': 6886,
  'IP': 589,
  'I': 23894,
  'IP': 4313,
  'NC': 11839,
  'CC': 1831,
  'BA': 16891,
  'AC': 19637,
  'EP': 5611,
  'L ': 28166,
  'GA': 13239,
  'PT': 2649,
  'AR': 55847,
  'SS': 15665,
  '04': 2489,
  '0': 23483,
  '04': 11585,
  'RR': 7976,
  'IZ': 2733,
  'EV': 8924,
  '32': 919,
  '73': 1336,
  '32': 4047,
  '57': 963,
  'A ': 7009,
  ' ': 10655,
  'QU': 6825,
  'Q': 6539,
  'AM': 24553,
  'Q': 7490,
  ' Q': 2925,
  'I ': 1462,
  'LD': 1800,
  'DI': 21412,
  'FR': 9794,
  'DD': 3057,
  'RW': 718,
  'LS': 2340,
  'LS': 7375,
  'WH': 2939,
  'W': 10223,
  'UT': 1585,
  'GU': 5944,
  'OU': 28273,
  'OP': 639,
  'P': 3727,
  'OP': 8247,
  'PE': 18534,
  '46': 192,
  '4': 3716,
  '6': 5820,
  '61': 532,
  '6': 4943,
  '61': 4886,
  '6': 20999,
  '66': 1064,
  '46': 1078,
  'TW': 773,
  'W': 2189,
  'IX': 1448,
  'X ': 2747,
  'YA': 418,
  'Y': 2633,
  'AB': 9051,
  'MB': 4589,
  'MI': 19767,
  'RC': 4760,
  'OG': 4896,
  'FA': 2576,
  'TS': 4045,
  'TS': 14345,
  'FA': 11148,
  'LO': 3765,
  'NE': 2124,
  'N': 9234,
  'YE': 455,
  'Y': 2845,
  'GI': 9672,
  'EY': 6844,
  'YE': 4383,
  'DU': 822,
  'DU': 5660,
  'TC': 2848,
  'HM': 995,
  'CA': 1221,
  'ZA': 3828,
  'NZ': 1525,
  'TT': 12510,
  'GH': 10426,
  'TN': 1377,
  'HT': 9594,
  'XA': 563,
  'EX': 5599,
  'LA': 7539,
  'LA': 1671,
  'RY': 3758,
  'RY': 10637,
  '29': 2859,
  '72': 2684,
  '29': 3525,
  '07': 10671,
  'YO': 1311,
  'YO': 8319,
  'NT': 3159,
  'AF': 1177,
  'F': 2016,
  '24': 3489,
  '82': 2340,
  '24': 4566,
  '38': 1281,
  'SN': 459,
  '00': 583,
  'UF': 2043,
  'NU': 4029,
  'WN': 3265,
  'BU': 1831,
  'GO': 2098,
  'G': 10237,
  'WN': 1340,
  'FI': 11582,
  'BY': 3442,
  'WD': 348,
  'DB': 683,
  '08': 9506,
  '81': 4178,
  'LV': 1438,
  'RU': 1075,
  'IA': 3001,
  'EV': 689,
  'E': 11746,
  'V': 1956,
  'NE': 4539,
  'EQ': 553,
  'FI': 2274,
  ' 6': 453,
  ' 6': 1037,
  '21': 3740,
  '21': 13144,
  'IS': 643,
  'S': 3993,
  'RS': 6640,
  'CI': 801,
  'OY': 771,
  'CI': 11577,
  'WB': 402,
  'OY': 3935,
  'BR': 2257,
  'UR': 1422,
  '31': 2122,
  'KS': 3985,
  'JE': 1053,
  'J': 6790,
  'ME': 4265,
  'M': 8938,
  'JE': 4965,
  'J': 25913,
  'BS': 1459,
  'IH': 876,
  'AG': 12616,
  '02': 2501,
  '98': 5762,
  '88': 930,
  'AF': 105,
  '07': 2586,
  '7': 14201,
  '89': 1013,
  'YS': 1057,
  'YS': 6023,
  'LB': 1100,
  'TO': 3299,
  'UA': 203,
  'CQ': 138,
  'SA': 3474,
  'DU': 213,
  'D': 10489,
  'HI': 1878,
  'ST': 3821,
  'S': 15607,
  'NQ': 418,
  'NW': 466,
  ' U': 9277,
  'NY': 4360,
  'YT': 1135,
  '05': 2581,
  '05': 11774,
  '25': 3324,
  '25': 4294,
  '42': 3467,
  'CO': 4727,
  'FO': 1813,
  ' J': 10367,
  'JA': 6762,
  'J': 20204,
  'NA': 2747,
  'RD': 10790,
  'EO': 4144,
  'NI': 1484,
  'MI': 3460,
  'SL': 3578,
  'UO': 1106,
  'CR': 1611,
  '3R': 50,
  'B3': 3,
  'LU': 988,
  'KM': 367,
  'PA': 3838,
  '60': 6471,
  '52': 3052,
  '06': 10506,
  'VI': 1732,
  '61': 695,
  '6': 1936,
  '64': 492,
  '16': 8500,
  '64': 1017,
  ' 9': 259,
  ' 9': 674,
  'MR': 653,
  'JO': 6017,
  'MR': 1570,
  'BA': 3820,
  'II': 1001,
  'II': 2243,
  'AC': 778,
  'C': 3590,
  'LK': 2231,
  'WA': 13859,
  'DI': 4149,
  'TZ': 257,
  'Z': 1437,
  'LF': 1877,
  'TZ': 1390,
  'FM': 103,
  'UD': 4505,
  'FS': 521,
  'PL': 7150,
  'TP': 222,
  '4 ': 736,
  'CL': 5410,
  'AR': 1445,
  'ZO': 2198,
  '50': 7078,
  'RA': 2043,
  'CK': 2600,
  'MY': 5148,
  'NB': 1281,
  'RI': 1085,
  'SE': 3669,
  '13': 1839,
  '13': 6162,
  'TK': 512,
  'KN': 1965,
  '14': 5246,
  '95': 3049,
  '14': 9950,
  '51': 5779,
  'IN': 4521,
  'AV': 7479,
  'TL': 4890,
  '32': 880,
  'LF': 384,
  ' Y': 8859,
  'SS': 2787,
  'DE': 2787,
  'GI': 1071,
  'CO': 861,
  'FU': 4464,
  'RO': 2715,
  'EI': 452,
  'IR': 18372,
  'JN': 17,
  'JN': 307,
  'GR': 1809,
  'NS': 3955,
  'ET': 2696,
  'YU': 1398,
  'VA': 1083,
  'Z ': 1982,
  'MP': 6927,
  'WO': 1108,
  'ST': 4045,
  'EW': 487,
  'DO': 1417,
  'P ': 5635,
  'ZL': 401,
  'LZ': 278,
  '01': 2529,
  'CA': 4078,
  'VE': 3012,
  'V': 4257,
  'EI': 955,
  'CL': 1034,
  'C ': 4079,
  '48': 222,
  '48': 1118,
  '8 ': 504,
  '38': 312,
  'SH': 1165,
  'WS': 1573,
  'WI': 1950,
  'XX': 49,
  'X': 418,
  'X': 1749,
  'XX': 215,
  '1 ': 1083,
  '21': 2851,
  'PE': 709,
  'P': 2847,
  'AB': 703,
  'B': 1407,
  'BO': 2305,
  ' Z': 3879,
  'ZW': 431,
  '16': 3995,
  '84': 398,
  '8': 4144,
  'ID': 887,
  'ID': 14224,
  'KH': 183,
  'K': 8634,
  'IL': 1255,
  'KH': 1067,
  '23': 1034,
  '36': 861,
  '36': 1447,
  '15': 4978,
  '80': 6695,
  'EL': 3305,
  'NO': 1357,
  'MP': 391,
  'DS': 6757,
  ...},
 [2, 2, 2, 574, 2287, 4064]]

In [24]:
df.sort_values('q-error', ascending=False)

,query,true,est,q-error
406200,_6,2481,1.000000,2481.000000
83397,%R_AMIL%,4,472.969420,118.242355
159342,CLL%,1,110.870705,110.870705
42622,%E_ROLLEN_E%,1,79.914030,79.914032
44250,%FUIM%,1,71.012566,71.012566
...,...,...,...,...
311851,S TUKTAS KRLEKEN,1,0.862884,1.000000
311852,S T_BO%I B% TE%,1,0.831065,1.000000
311854,S WONDERFUL,1,0.995823,1.000000
311855,S _KKO_ A _ASA_,1,0.888833,1.000000
250000,LE PRINTEMPS PISODE 2 SUR LES TANGS LAMOUR C...,1,0.928083,1.000000

### Wildcards stat

In [4]:
df

                  query  true          est    q-error  n_wild
0            % % % R%U%   474   653.777100   1.379277       5
1             % % % _E%  6346  7289.791504   1.148722       5
2          % % %A%A%O_R    24   132.570786   5.523783       6
3             % % %A_EL   218   337.574036   1.548505       4
4           % % %A_KADI     2    39.338467  19.669233       4
...                 ...   ...          ...        ...     ...
499995     _Z_U_ OZT_R_     1     6.026012   6.026012       5
499996         _Z_Y %G%    13    11.765779   1.104899       4
499997     _Z_Y _ Y_UNG     3     6.842568   2.280856       4
499998   _Z_ZA%A%RA_MA_     2     3.938846   1.969423       6
499999  _Z_Z_BELM_L_UDI     3    14.139564   4.713188       5

[500000 rows x 5 columns]

In [6]:

def count_wild(query):
    n_under = query.count('_')
    n_pcnt = query.count('%')
    return n_under + n_pcnt


data_names = ['DBLP-AN', 'IMDb-AN', 'IMDb-MT', 'TPCH-PN']
# data_names = ['IMDb-MT']
# data_names = ['DBLP-AN']
# data_names = ['IMDb-MT']
# models = ['EST_S', 'EST_M', 'EST_B', 'E2E', 'E2E-AUG', 'Astrid', 'Astrid-AUG', 'DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK', 'LPLM']
# models = ['DREAM', 'DREAM-PACK', 'CLIQUE', 'CLIQUE-PACK']
# models = ['LPLM','CLIQUE', 'CLIQUE-PACK', 'CLIQUE-PACK-ALL']
models = ['LPLM']
# workloads = ['CLIQUE', 'LPLM']
workloads = ['LPLM']


for workload in workloads:
    res_dict = {}
    for data_name in data_names:
        for model in models:
            # stat_path = os.path.join(res_dir, data_name, workload, 'stat', model, '0', 'stat.yml')
            stat_path = os.path.join(res_dir, data_name, workload, 'estimation', model, '0', 'estimation.csv')
            df = pd.read_csv(stat_path)
            df['n_wild'] = df['query'].apply(count_wild)
            print(data_name)
            print(f"{df['n_wild'].max() = }")
            print(f"{df['n_wild'].mean() = }")
            print(f"{df['true'].min() = }")
            print(f"{df['true'].max() = }")
            print(f"{df['true'].mean() = }")
            # print(f"{df['true_card'].median() = }")
            # df['len'] = df['query'].apply(len)
            # df['p'] = df['query'].apply(lambda x: 1)
            # df = df.groupby('n_wild').mean('q-error').transpose()
            # df = df.groupby('len').mean('q-error').transpose()
            # df = df.style.format(na_rep='', precision=2)
            # display(df)
            # display(df)

DBLP-AN
df['n_wild'].max() = 13
df['n_wild'].mean() = 3.256418
df['true'].min() = 0
df['true'].max() = 218670
df['true'].mean() = 143.584154
IMDb-AN
df['n_wild'].max() = 12
df['n_wild'].mean() = 3.025604
df['true'].min() = 1
df['true'].max() = 459738
df['true'].mean() = 157.561756
IMDb-MT
df['n_wild'].max() = 24
df['n_wild'].mean() = 4.047248
df['true'].min() = 1
df['true'].max() = 234970
df['true'].mean() = 215.980088
TPCH-PN
df['n_wild'].max() = 17
df['n_wild'].mean() = 6.324102
df['true'].min() = 1
df['true'].max() = 200000
df['true'].mean() = 497.292566

In [8]:
query_strings = ut.read_strings("data/title.title/query/CEB/train.txt")
df = pd.DataFrame(query_strings)
df['len'] = df[0].apply(len)
display(df)

                      0  len
0                  !Ne%    4
1                !Next?    6
2           !Que ve el%   11
3             "A Corri%    9
4        "Bookstore" (%   14
...                 ...  ...
3273742        prendr%    9
3273743           a p%    5
3273744        Ccaro!    8
3273745   Maten a ese%   13
3273746                   1

[3273747 rows x 2 columns]

In [9]:
display(df.sort_values('len'))

                          0  len
3273746                       1
3271209                       1
2502710                   D    1
2331484                   4    1
2985272                   R    1
...                     ...  ...
423552   %Bass %in %Contra%   18
423554   %Bass %ro %ps AWA%   18
754007   %Shann%ve %t Dola%   18
1692538  %ney T% th%e Alps%   18
585767   %Is Ju%st %a Kiss%   18

[3273747 rows x 2 columns]

### Model size

In [35]:
model_size_dict = { # (Table_size, Model_size)
    "WIKI": (6484593, 3168885),
    "IMDB": (674953, 1708469),
    "DBLP": (618163, 1702453),
    "GENE": (157090, 1678837),
    "AUTHOR": (622099, 1698485),
    # "link_type.link": (7451, 1031733),
    "movie_companies.note": (206077, 840501),
    "name.name": (518383, 512437),
    "title.title": (607940, 420149),
}

In [36]:
res_size_dict = {x: (y[0]/1024/1024, y[1]/1024/1024, y[1]/sum(y)*100) for x, y in model_size_dict.items()}
df = pd.DataFrame(res_size_dict, index=['Table size(MB)', 'Model size(MB)', 'Model ratio(%)'])
pd.set_option('display.precision', 2)
display(df)
pd.reset_option('display.precision')

,WIKI,IMDB,DBLP,GENE,AUTHOR,movie_companies.note,name.name,title.title
Table size(MB),6.18,0.64,0.59,0.15,0.59,0.20,0.49,0.58
Model size(MB),3.02,1.63,1.62,1.60,1.62,0.80,0.49,0.40
Model ratio(%),32.83,71.68,73.36,91.44,73.19,80.31,49.71,40.87

In [14]:
from src.CLIQUE import is_LIKEquery_in_Table
ut.flip_last_canonicalized_like_query("%abc%__")
# is_LIKEquery_in_Table("G")

'%abc__%'

### TEST LPLM

In [32]:
from src.LPLM.extension import LIKE_pattern_to_extendedLanguage, LIKEpattern2mid_form
query = "Summ%vs._______"
# LIKE_pattern_to_extendedLanguage(query, True)
LIKEpattern2mid_form(query)

['', 'S', '', 'u', '', 'm', '', 'm', 'v', '', 's', '', '.', '']